ion-header {
    --ion-background-color: rgb(46, 173, 247);
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input {
    border: 0px;
}

ion-datetime {
    margin-top: 7%;
}

.filter {
    margin-top: 9%;
}