ion-header {
    --ion-background-color: rgb(46, 173, 247);
}

ion-title {
    text-align: center;
    color: #FFFF;
}

.reset-password-button{
    --color: black;
    --box-shadow: 0;
    --background: transparent;
}

.pattern-button {
    font-size: 18px;
    height: 40px !important;
}

ion-list-header {
    font-size: 20px;
    font-weight: bold;
}

.img {
    text-align: center;
    margin-top: 10px;
}

.error-message {
    margin-left: 15px;
    margin-top: 5px;
    color: red;
}