<ion-header>
  <ion-toolbar>
    <ion-title>
      Facility
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <div class="img">
      <img src="assets/icon/calendar.png" width="120" height="120" >
    </div>

    <ion-list-header lines="full">
      <ion-label>Login</ion-label>
    </ion-list-header>

    <ion-item class="ion-margin-top" lines="none" lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input  class="form-control" type="email" required [(ngModel)]="userLogin.email" #email="ngModel" ></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="( email.invalid && (email.dirty || email.touched) )">
        E-mail obrigatório.
    </div>

    <ion-item class="ion-margin-top" lines="none" lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input  class="form-control" type="password" required [(ngModel)]="userLogin.password" #password="ngModel"></ion-input>
    </ion-item>
    <div class="error-message" *ngIf="( password.invalid && (password.dirty || password.touched) )">
      Senha obrigatória.
    </div>

    <ion-button size="small" slot="icon-only" name="star" class="reset-password-button ion-margin-start ion-margin-top" (click)="openToast()">Esqueci minha senha</ion-button>

    <ion-button color="success" class="pattern-button ion-margin-top ion-margin-start ion-margin-end" (click)="login()" expand="block">
      Entrar
    </ion-button>

    <ion-button class="ion-margin-top ion-margin-start ion-margin-end" [routerLink]="['/signin']" expand="block">
      Cadastrar
    </ion-button>

  </ion-list>
</ion-content>
