<ion-header *ngIf="!modal">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!modal">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-text color="tertiary">
            <h5 >Data:</h5>
          </ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-datetime min="2016" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" placeholder="Selecionar Data" [(ngModel)]="date"></ion-datetime>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button class="filter" fill="outline" expand="block" (click)="getListEvents()" [disabled]="!date">Buscar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="!loading">
    <ion-card-header *ngIf="!loading" (click)="collapseUpDown()">
      <ion-card-title>Novo Evento</ion-card-title>
    </ion-card-header>
    
    <ion-card-content *ngIf="!collapseCard" >
 
      <ion-item>
        <ion-input type="text" placeholder="Título" [(ngModel)]="eventSave.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Clientes</ion-label>
        <ion-select [(ngModel)]="customer">
          <ion-select-option *ngFor="let customer of this.authService.customers" [value]="customer">{{ customer.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Serviços</ion-label>
        <ion-select [(ngModel)]="services" multiple={true} (ionChange)="onChangeServiceOrValue()">
          <ion-select-option *ngFor="let service of this.authService.services" [value]="service">{{ service.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngFor="let service of servicesWithoutValue; index as index">
        <ion-label>Valor {{ index + 1 }}</ion-label>
        <input currencyMask (change)="onChangeServiceOrValue()" placeholder="Serviço {{ service.name }}" [(ngModel)]="service.value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
      </ion-item>
      <ion-item>
        <ion-label>Começo</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fim</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Total: {{ ( totalValue | currency:'BRL':true ) }} </ion-label>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="!eventSave.title">Adicionar Evento</ion-button>
 
    </ion-card-content>
  </ion-card>
  
  <ion-list *ngFor="let event of this.authService.events">
    <ion-item>
      <ion-label>
        <h2>{{ event.title }} | {{ ( event.startTime | date: 'dd/MM HH:mm' ) }} - {{ ( event.endTime | date: 'dd/MM HH:mm' ) }}</h2>
        <p *ngIf="event.customer">Cliente: {{ event.customer.name }}</p>
        <p>Total: {{ ( event.total | currency:'BRL':true ) }}</p>
        <div class="d-flex flex-row bd-highlight">
          <ion-button size="small" slot="icon-only" name="star" class="ion-margin-top" (click)="openModal(event)">Editar</ion-button>
          <ion-button color="danger" size="small" slot="icon-only" name="star" class="ion-margin-start ion-margin-top" (click)="remove(event)">Remover</ion-button>
          <ion-button *ngIf="!event.confirm" color="success" size="small" slot="icon-only" name="star" class="ion-margin-start ion-margin-top" (click)="confirmEvent(event)">Confirmar</ion-button>
          <ion-button *ngIf="event.confirm && !event.paid" color="success" size="small" slot="icon-only" name="star" class="ion-margin-start ion-margin-top" (click)="confirmPaidEvent(event)">Pago</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>

<ion-header translucent *ngIf="modal">
  <ion-toolbar>
    <ion-title>Editar Evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="modal">
    <ion-item>
      <input type="text" placeholder="Título" [(ngModel)]="eventEditing.title" />
    </ion-item>
    
    <ion-item>
      <ion-label>Clientes</ion-label>
      <ion-select [(ngModel)]="eventEditing.customer" [compareWith]="compareWith">
        <ion-select-option *ngFor="let customer of this.authService.customers" [value]="customer">{{ customer.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Serviços</ion-label>
      <ion-select [(ngModel)]="editSelectedServices" multiple={true} (ionChange)="onChangeServiceOrValueEdit()">
        <ion-select-option *ngFor="let service of editServices">{{ service }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let service of editSelectedServicesWithoutValue; index as index">
      <ion-label>{{ service.name }}:</ion-label>
      <input currencyMask (change)="onChangeServiceOrValueEdit()" placeholder="Serviço {{ service.name }}" [(ngModel)]="service.value" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
    </ion-item>
    <ion-item>
      <ion-label>Começo</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="eventEditing.startTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Fim</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="eventEditing.endTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Total: {{ ( eventEditing.total | currency:'BRL':true ) }} </ion-label>
    </ion-item>
  
  <ion-button class="ion-margin-top" fill="outline" expand="block" (click)="edit()" 
    >Editar</ion-button>
</ion-content>
